<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
{% if request.user.is_authenticated %}
    <a href=""><h1 class="out">退出登录</h1></a>

    <script>
    $('.out').click(function () {
    $.ajax({
        url: '/logout/',
        type:'GET',

        success:function () {
            location.reload()},

        error:function() {
                            alert('请求失败')




        }


        }

    )

})
    </script>
{% else %}
<input type="text" class="usr">
<input type="password" class="password">
<input type="button" id="submit" value="登录">
                    {% csrf_token %}

<script>
    $('#submit').click(function(){
        $.ajaxSetup({

data: {csrfmiddlewaretoken: '{{ csrf_token }}' },

});
        $.ajax({
                url: "/login/",
                type: "POST",
                data: {
                    'acount': $('.usr').val(),
                    'password': $('.password').val(),
                },
                success: function (data) {
                    location.href='/login/'
                },
                error: function () {
                    alert('失败了,请查看原因')
                }


            }
        )
        }
    )



</script>

{% endif %}

<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<h2>光年之外</h2>
</body>
</html>